[Desktop Entry]
Version=1.0
Terminal=false
Icon=distributor-logo-archlinux.png
Type=Application
Categories=Documentation;
Exec=/usr/share/webapps/arch/wiki/arch-wiki
Name=Arch Wiki
GenericName=Arch Wiki
Comment=Get Help by reading the Arch WIKI, It has more comprehensive guides and tutorials
StartupNotify=true

