[Desktop Entry]
Version=1.0
Terminal=false
Icon=distributor-logo-manjaro.png
Type=Application
Categories=Documentation;
Exec=/usr/share/webapps/manjaro/forum/manjaro-forum
Name=Manjaro Forum
GenericName=Manjaro Forum
GenericName[en]=Manjaro Forum
Comment=Get Help from the Manjaro Forum
StartupNotify=true
