[Desktop Entry]
Version=1.0
Terminal=false
Icon=distributor-logo-manjaro.png
Type=Application
Categories=Documentation;
Exec=/usr/share/webapps/manjaro/wiki/manjaro-wiki
Name=Manjaro Wiki
GenericName=Manjaro Wiki
Comment=Get Help by reading the manjaro Wiki guides and tutorials
StartupNotify=true
