[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/icons/manjaro/maia/96x96.png
Type=Application
Categories=Documentation;
Exec=/opt/webapps/manjaro/wiki/manjaro-wiki
Name=Manjaro Wiki
GenericName=Manjaro Wiki
GenericName[en]=Manjaro Wiki
Comment=Get Help by reading the manjaro Wiki
StartupNotify=true
