[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/icons/manjaro/maia/96x96.png
Type=Application
Categories=Documentation;
Exec=/opt/webapps/manjaro/forum/manjaro-forum
Name=Manjaro Forum
GenericName=Manjaro Forum
GenericName[en]=Manjaro Forum
Comment=Get Help from the Manjaro Forum
StartupNotify=true
